:root {
    /* colors */
    --color-black: #333333;
    --color-grey: #474747;
    --color-brand: #A7FC00;
    --color-brand-hover: #96e300;
    --color-bg: #f9f6f1;
    --color-bg-green: #F6FBE9;
    --color-border: #e0e0e0;
    --color-border-green: #E5F5BD;
    --color-accent: #FCD300;
    --color-accent-hover: #e2bd00;
    --color-white: #fff;
    --color-green: #CBEA7B;
    --color-error: #FC5500;

    /* fonts */
    --font-family-text: 'Open Sans', sans-serif;
    --font-family-heading: 'Roboto', sans-serif;
    --font-size-text: 18px;
    --font-size-title: 20px;
    --font-size-heading--large: 42px;
    --font-size-heading--medium: 32px;
    --font-size-heading--small: 24px;

    /* other */
    --margin-bottom: 100px;
    --border-radius--tiny: 10px;
    --border-radius--small: 20px;
    --border-radius--big: 60px;
    --padding-bottom: 40px;
    --padding-bottom--small: 20px;
}

/* global */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    color: var(--color-black);
    font-family: var(--font-family-text);
    font-size: var(--font-size-text);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 50px;
}

.page-section--bg {
    background-color: var(--color-bg);
}

.page-section {
    padding: 80px 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

* h1 {
    margin: 0;
    padding: 0;
}

* h3 {
    margin: 0;
    padding: 0;
}

* p {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

input::placeholder {
    color: var(--color-grey);
    font-size: 16px;
    line-height: 24px;
}

.form-modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999999999999;
    background-color: var(--color-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease;
}

.form-modal__box {
    max-width: 800px;
    display: flex;
    background-color: var(--color-bg);
    padding: 40px;
    border-radius: 20px;
    gap: 20px;
    transform: scale(0);
    transition: all 0.8s ease;
}

.form-modal__inner {
    position: relative;
    display: flex;
    max-width: 500px;
    gap: 20px;
}

.form-modal__text {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--small);
}

.form-modal__btn-close {
    position: absolute;
    top: -30px;
    right: -30px;
}

.form-modal__btn-close img {
    width: 30px;
}

.form-modal.open {
    visibility: visible;
    opacity: 1;
}

.form-modal.open .form-modal__box {
    transform: scale(1);
}

/* плавное изменение прозрачности  placeholder-а при фокусе */
.form-fade input::-webkit-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.form-fade input::-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.form-fade input:-moz-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.form-fade input:-ms-input-placeholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.form-fade input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form-fade input:focus::-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form-fade input:focus:-moz-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form-fade input:focus:-ms-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* button style */

.btn-reset {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-radius: var(--border-radius--small);
    text-decoration: none;
    color: var(--color-white);
    width: 250px;
    transition: all 0.3s ease;
}

.btn--primary {
    background-color: var(--color-brand);
}

.btn--secondary {
    background-color: var(--color-accent);
}

.btn--arrow {
    position: relative;
    color: var(--color-black);
    border: 1px solid var(--color-black);
    border-radius: var(--border-radius--small);
    transition: all 0.5s ease;
}

.btn--arrow::after {
    content: "";
    background-image: url("../images/arrow.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 20px;
    height: 20px;
    transform: translateX(70px);
    opacity: 0;
    transition: all 0.5s ease;
}

/* header style */
.page-header {
    padding: 30px 0;
    background-color: var(--color-white);
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.page-header__row {
    /* padding-top: 22px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between; */
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    color: var(--color-grey);
    font-size: 20px;
    font-weight: 700;
    transition: all 1s ease;
}

.page-header__nav {
    flex-grow: 1;
}

.nav__burger {
    display: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: all 0.5s ease;
}

.burger,
.burger::after,
.burger::before {
    height: 3px;
    width: 30px;
    background-color: var(--color-grey);
    border-radius: var(--border-radius--small);
    display: block;
    transition: all 0.5s ease;
}

.burger {
    margin: 10px 0px;
    padding: 0;
    border: none;
    transition: all 0.5s ease;
}

.burger::before {
    content: "";
    position: relative;
    top: -10px;
}

.burger::after {
    content: "";
    position: relative;
    top: 7px;
}

.nav__burger:hover .burger,
.nav__burger:hover .burger::after,
.nav__burger:hover .burger::before {
    background-color: var(--color-brand);
}

.nav__burger.active .burger {
    background-color: transparent;
}

.nav__burger.active .burger::before {
    transform-origin: top left;
    transform: rotate(45deg);
}

.nav__burger.active .burger::after {
    transform-origin: bottom left;
    transform: rotate(-45deg);
}

.page-header__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 50px;
}

.page-header__menu-item {
    color: var(--color-grey);
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
    font-weight: 600;
}

/* footer */
.page-footer {
    padding: 40px 0px;
    background-color: var(--color-grey);
}

.page-footer__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.page-footer__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.page-footer__logotip {
    color: var(--color-white);
    font-size: 24px;
}

.page-footer__contact-list {
    display: flex;
    gap: 30px;
}

.page-footer__contact-item {
    width: 40px;
    height: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-brand);
    border-radius: 40px;
    transition: all 1s ease;
}

.page-footer__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.page-footer__menu-title {
    margin-bottom: 10px;
    color: var(--color-white);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--small);
    font-weight: 500;
    text-transform: uppercase;
}

.page-footer__menu-item {
    text-decoration: none;
    color: var(--color-white);
    text-transform: uppercase;
    transition: all 0.4s ease;
}

/* HOMEPAGE */

.hero__content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-info {
    width: 545px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-info__heading {
    margin: 0;
    font-family: var(--font-family-heading);
    font-size: 48px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -0.42px;
    color: var(--color-grey);
    text-transform: uppercase;
}

.hero-info__text {
    line-height: 160%;
}

.hero-info__buttons-group {
    display: flex;
    justify-content: space-between;
}

.hero-info__buttons-group a {
    font-size: 16px;
}

.hero__img {
    z-index: 2;
}

.hero-panel {
    position: absolute;
    bottom: 5px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    background-color: var(--color-white);
    border-radius: var(--border-radius--small) 0px 0px var(--border-radius--small);
}

.hero-panel__item {
    padding: var(--padding-bottom--small);
    display: flex;
    flex-direction: column;
}

.hero-panel__item:nth-child(3) {
    margin-right: 50px;
}

.hero-panel__num {
    color: var(--color-black);
    font-family: var(--font-family-heading);
    font-size: 48px;
    font-weight: 700;
    line-height: 150%;
}

.hero-panel__text {
    color: var(--color-grey);
    font-weight: 600;
    line-height: 150%;
    font-size: 16px;
}

.offers__heading {
    padding-bottom: var(--padding-bottom--small);
    text-align: center;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -0.42px;
}

.offers__text {
    text-align: center;
    font-size: 24px;
    padding-bottom: 40px;
}

.offers-features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.offers-features__item {
    padding: 40px 50px;
    background-color: var(--color-bg-green);
    border: 1px solid var(--color-border-green);
}

.offers-features__title svg {
    width: 68px;
    height: 68px;
    padding: 14px;
    background-color: var(--color-green);
    border-radius: var(--border-radius--tiny);
    margin-right: 14px;
}

.offers-features__title {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}

.offers-features__title h3 {
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--small);
    font-weight: 600;
    line-height: 150%;
}

.offers-features__text {
    font-weight: 500;
    line-height: 150%;
}

.contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__heading {
    margin: 0;
    padding-bottom: var(--padding-bottom);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-weight: 500;
}

.contact__text {
    padding-bottom: var(--padding-bottom--small);
    text-align: center;
    font-size: var(--font-size-heading--small);
    line-height: 30px;
}

.contact__social {
    text-decoration: none;
    color: var(--color-black);
    font-size: var(--font-size-heading--small);
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    transition: all 1s ease;
}

.contact__social-item {
    width: 40px;
    height: 40px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey);
    border-radius: 40px;
    transition: all 1s ease;
}

.contact__text-highlight {
    text-decoration: none;
    color: var(--color-accent);
}

.services__heading {
    margin-bottom: 40px;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    text-transform: uppercase;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -0.42px;
    text-align: center;
}

.services-group {
    padding: 0 92px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.services-group__item {
    color: inherit;
    padding: 40px 60px;
    border: 1px solid var(--color-border);
    transition: all 0.7s ease;
}

.services-group__link {
    text-decoration: none;
}

.services-group__title {
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--small);
    font-weight: 600;
    line-height: 32px;
    padding: 16px 0;
    transition: all 0.7s ease;
}

.services-group__text {
    color: var(--color-black);
    font-family: var(--font-family-text);
    line-height: 24px;
}

.reviews__heading {
    padding-bottom: var(--padding-bottom--small);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.42px;
}

.reviews__text {
    padding-bottom: var(--padding-bottom);
    font-size: 20px;
}

.reviews-slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.reviews-slider__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: var(--padding-bottom);
    background-color: var(--color-white);
}

.reviews-slider__text {
    line-height: 32px;
}

.reviews-slider__person {
    display: flex;
    align-items: center;
    gap: 20px;
}

.reviews-slider__name {
    color: var(--color-grey);
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -0.72px;
}

.reviews-slider__img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.swiper {
    height: 100%;
    width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--color-grey);
}

.swiper-pagination-bullet {
    background: var(--color-grey);
}

.promo__content {
    --gap: 40px;
    --promo-elements: 2;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.promo__item {
    position: relative;
    transition: 0.5s ease;
    width: calc((100% - (var(--promo-elements) - 1) * var(--gap)) / (var(--promo-elements)));
}

.promo__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.25s ease;
}

.promo__item-img {
    border-radius: var(--border-radius--small);
}

.promo__text {
    position: absolute;
    top: 40px;
    left: 40px;
    max-width: 250px;
    z-index: 1;
    font-family: var(--font-family-heading);
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.72px;
}

.promo__link {
    color: inherit;
}

.promo__text--white {
    color: var(--color-white);
}

.meeting__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.meeting-img {
    position: relative;
}

.meeting-img__text {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    padding: 10px;
    background-color: var(--color-white);
    border-radius: var(--border-radius--tiny);
    display: flex;
    align-items: center;
    gap: 10px;
}

.meeting__heading {
    font-family: var(--font-family-heading);
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}

.meeting__text {
    padding-bottom: var(--padding-bottom);
    line-height: 30px;
    color: var(--color-grey);
}

.meeting__description {
    padding: 40px;
}

.blog__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.blog__heading {
    font-size: var(--font-size-heading--large);
}

.blog-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.blog-box__item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s ease;
}

.blog-box__title {
    color: var(--color-grey);
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
}

.blog-box__text {
    color: var(--color-black);
    line-height: 140%;
}

.blog-box__short-text {
    text-transform: uppercase;
    color: var(--color-accent);
    font-size: var(--font-size-title);
    transition: all 0.5s ease;
}

.sign-up__content {
    height: 450px;
    background-image: url(../images/sign-up-bg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-up__title {
    color: var(--color-black);
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: var(--padding-bottom);
}

.sign-up__heading {
    color: var(--color-black);
    font-size: var(--font-size-heading--large);
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: var(--padding-bottom);
}

.sign-up__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.sign-up__form input {
    width: 600px;
    height: 68px;
    flex-shrink: 0;
    border-radius: var(--border-radius--big);
    border: 1px solid var(--color--black, #333);
}

.sign-up__form input[type="email"] {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 22px 30px;
}

.sign-up__form input[type="submit"] {
    outline: none;
    border: none;
    background-color: var(--color-black);
    border-radius: var(--border-radius--big);
    border: 1px solid var(--color-black);
    color: var(--color-white);
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sign-up__form input[type="submit"]:hover {
    border: var(--color-brand);
    background-color: var(--color-brand);
}

/* ============================
 *  Page About Me
 *  ===========================
*/

.about__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about__block {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}

.about__title {
    padding-bottom: var(--padding-bottom);
    color: var(--color-brand);
    font-size: var(--font-size-heading--small);
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.2px;
    text-transform: uppercase;
}

.about__heading {
    margin: 0;
    padding-bottom: var(--padding-bottom);
    color: var(--color-grey);
    font-size: var(--font-size-heading--large);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.42px;
}

.about__text,
.intro__text {
    padding-bottom: var(--padding-bottom--small);
    color: var(--color-black);
    font-family: var(--font-family-text);
    letter-spacing: -0.18px;
    line-height: 29px;
}

.about-clients {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-clients__imgs {
    width: 130px;
    display: flex;
    border: 1px solid var(--color-accent);
    border-radius: 130px;
    padding: 8px 10px;
}

.about-clients__img {
    border-radius: 50px;
}

.about-clients__img:nth-child(1) {
    position: relative;
    z-index: 1;
}

.about-clients__img:nth-child(2) {
    position: relative;
    z-index: 2;
    right: 20px;
}

.about-clients__img:nth-child(3) {
    position: relative;
    z-index: 2;
    right: 40px;
}

.about-clients__text {
    color: var(--color-black);
    font-size: 20px;
    font-weight: 600;
    line-height: 150%;
}

.about-clients__text--accent {
    font-size: var(--font-size-heading--small);
    color: var(--color-accent);
}

.about-nutriciolog__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 20px;
}

.intro__heading {
    grid-column: span 2;
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.42px;
}

.nutriciolog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.nutriciolog__img {
    width: 100%;
}
.nutriciolog__heading {
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.42px;
    padding-bottom: var(--padding-bottom);
    border-bottom: 1px solid var(--color-grey);
    margin-bottom: 40px;
}

.nutriciolog__text {
    color: var(--color-black);
    line-height: 140%;
    letter-spacing: -0.18px;
    line-height: 30px;
    padding-bottom: 40px;
}

.edu__heading {
    padding-bottom: var(--padding-bottom);
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-weight: 500;
    text-transform: uppercase;
}

.edu-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 86px;
    row-gap: 30px;
}

.edu-info__item {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: all 0.6s ease;
}

.edu-info__text {
    line-height: 30px;
}

.get-in-touch__content {
    display: flex;
    justify-content: space-between;
}

.get-in-touch__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.get-in-touch__title {
    font-size: var(--font-size-title);
    font-weight: 600;
}

.get-in-touch__field {
    display: flex;
    gap: 20px;
}

.get-in-touch__form input[type="email"] {
    border-radius: var(--border-radius--big);
    border: 1px solid var(--color-black);
    padding: 12px 20px;
    outline: none;
    background-color: var(--color-bg);
}

.get-in-touch__form input[type="submit"] {
    background-color: var(--color-black);
    outline: none;
    padding: 12px 50px;
    border: none;
    border-radius: var(--border-radius--big);
    border: 1px solid var(--color-black);
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.5s ease;
}

/* ============================
 *  Page Events
 *  ===========================
*/

.banner-events__content {
    display: flex;
}

.banner-events__text {
    height: 226px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-events__heading {
    padding-bottom: var(--padding-bottom--small);
    text-align: center;
    color: var(--color-black);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
}

.banner-events__title {
    padding-bottom: var(--padding-bottom);
    text-align: center;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--small);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.1px;
}

.process__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.process__elem {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
}

.process__text {
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.54px;
}

.calendar__content {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.calendar__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 52px;
}

.calendar-date {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    text-align: center;
    border-radius: var(--border-radius--tiny);
    background-color: var(--color-bg);
}

.calendar-date__day {
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: 96px;
    font-style: normal;
    font-weight: 700;
}

.calendar-date__month {
    color: var(--color-accent);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.calendar-poster {
    width: 100%;
}
.calendar__event {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
}

.calendar__heading {
    margin: 0;
    color: var(--color-black);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.calendar__title {
    color: var(--color-accent);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--small);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.calendar__description {
    color: var(--color-black);
    font-family: var(--font-family-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.calendar__btn {
    color: var(--color-black);
    font-family: var(--font-family-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.calendar__btn {
    border: 1px solid var(--color-black);
}

/* ============================
 *  Page Consultation
 *  ===========================
*/

.consultation-info__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.consultation-info__images {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.consultation-info__images img:nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
}

.consultation-info__images img:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
}

.consultation-info__images img:nth-child(3) {
    grid-area: 2 / 2 / 3 / 3;
}

.consultation-info__images img {
    width: 100%;
    border-radius: var(--border-radius--small);
}

.consultation-info__block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 60px;
}

.consultation-info__heading {
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
}

.consultation-info__cards-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--color-white);
}

.consultation-info__card {
    padding: var(--padding-bottom);
    margin: 6px 3px;
    background-color: var(--color-bg);
    cursor: default;
    transition: all 0.5s ease;
}

.consultation-info__title {
    padding-bottom: 30px;
    text-align: center;
    font-size: var(--font-size-heading--small);
    font-weight: 600;
    line-height: 28px;
}

.consultation-info__text {
    color: var(--color-black);
    line-height: 30px;
    letter-spacing: -0.18px;
}

.symptoms__content {
    padding-bottom: var(--padding-bottom);
    margin-bottom: 60px;
}
.symptoms__heading {
    padding-bottom: var(--padding-bottom);
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);   
}
.symptoms__text {
    font-size: 20px;
}

.circle__title {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--small);
    font-weight: 500;
    line-height: 30px;
}
.circle__text {
    line-height: 30px;
}
.symptom-circle__container {
    padding-bottom: var(--padding-bottom);
    position: relative;
    width: 800px;
    /* Примерный размер, зависит от размера изображения */
    height: 720px;
    /* Примерный размер, зависит от размера изображения */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.symptoms__text {
    margin-bottom: 60px;
}

.circle-item {
    position: absolute;
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    text-align: left;
}

.circle-item.top {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.circle-item.right-top {
    top: 35%;
    right: 0;
    transform: translate(50%, -50%);
}

.circle-item.right-bottom {
    bottom: 35%;
    right: 0;
    transform: translate(50%, 50%);
}

.circle-item.bottom {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
}

.circle-item.left-bottom {
    bottom: 35%;
    left: 0;
    transform: translate(-50%, 50%);
    text-align: right;
}

.circle-item.left-top {
    top: 35%;
    left: 0;
    transform: translate(-50%, -50%);
    text-align: right;
}

/* .central-figure {
    /* Стилизация для центрального элемента */

.effects {
    background-color: var(--color-green);
}

.effects__heading {
    margin: 0;
    padding-bottom: 40px;
    text-align: center;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-weight: 600;
}

.effects__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
}

.effects__list-item {
    padding-left: 2rem;
    background-image: url(../images/icon-apple.png);
    background-position: 0 0;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    color: var(--color-black);
    font-size: 20px;
}

.consultation-price__heading {
    padding-bottom: var(--padding-bottom--small);
    text-align: center;
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.consultation-price__text {
    padding-bottom: var(--padding-bottom);
    text-align: center;
    font-size: var(--font-size-heading--small);
}

.consultation-price__href {
    text-decoration: none;
    color: var(--color-accent);
    font-weight: 500;
}

.consultation-price__box {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.consultation-price__card {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: var(--color-bg);
}

.consultation-price__title {
    padding-bottom: var(--padding-bottom--small);
    color: var(--color-black);
    text-align: center;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--medium);
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.consultation-price__subtitle {
    padding-bottom: var(--padding-bottom--small);
    color: var(--color-accent);
    font-family: var(--font-family-heading);
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 3%;
}

.action__heading {
    margin: 0;
    padding-bottom: var(--padding-bottom);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-weight: 600;
}

.action__text {
    padding-bottom: var(--padding-bottom--small);
    font-size: 20px;
    line-height: 32px;
}

/* Style the tab */
.action-tab {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.tablinks {
    width: 285px;
    border: none;
    background-color: transparent;
    float: left;
    border-bottom: 1px solid var(--color-border);
    outline: none;
    cursor: pointer;
    padding: var(--padding-bottom) 0px;
    text-align: left;
    transition: all 0.3s ease;
}

.action-tab__content {
    margin-top: 80px;
    display: none;
    padding: 60px 40px;
    background-color: var(--color-bg);
}

.action-tab__inner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 140px;
}

.action-tab__box {
    max-width: 400px;
}

.action-tab__arrow {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: var(--color-bg);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -110px;
}

.action-tab__arrow--step1 {
    left: -40px;
}

.action-tab__arrow--step2 {
    left: 240px;
}

.action-tab__arrow--step3 {
    left: 525px;
}

.action-tab__arrow--step4 {
    left: 810px;
}

.action-tab__category {
    margin-bottom: 40px;
    font-family: var(--font-family-text);
    font-size: var(--font-size-heading--small);
    font-weight: 500;
}

.action-tab__title {
    margin-bottom: 40px;
    font-family: var(--font-family-text);
    font-size: var(--font-size-heading--large);
    font-weight: 500;
}

.action-tab__btn {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    text-decoration: none;
    color: inherit;
}

.action-tab__btn-img {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: var(--color-grey);
    transition: all 0.5s ease;
}

.action-tab__link {
    text-decoration: none;
    color: inherit;
    transition: all 0.4s ease;
}

.action-tab__btn-text {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--color-grey);
    font-size: var(--font-size-heading--small);
    transition: all 0.5s ease;
}

.action-tab__list {
    padding-bottom: var(--padding-bottom--small);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.action-tab__list-item,
.action-tab__text {
    line-height: 32px;
}

.action-tab__content {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* стили для аккордиона */
/* стили вопрос-ответ */
.faq__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq__heading {
    /* padding-bottom: var(--padding-bottom); */
    text-align: center;
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
}

.faq-accordion__item {
    border-bottom: 1px solid var(--color-border);
    display: block;
    box-sizing: border-box;
}

.faq-accordion__title {
    font-size: var(--font-size-heading--small);
    font-weight: 500;
    transition: all 0.3s ease;
}

.faq-accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-black);
    padding: 20px 0px;
    cursor: pointer;
}

.faq-accordion__header::after {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-left: auto;
    background-image: url(../images/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    content: "";
    transition: transform 0.2s ease-out;
}

.faq-accordion__item_show .faq-accordion__header::after,
.faq-accordion__item_slidedown .faq-accordion__header::after {
    transform: rotate(180deg);
}


/* .faq-accordion__header:hover {
    color: var(--color-brand);
} */

.faq-accordion__content {
    padding: 0px 120px 20px 0px;
    line-height: 150%;
}

.faq-accordion__item:not(.faq-accordion__item_show) .faq-accordion__body {
    display: none;
}

.module {
    background-image: url(../images/veggies-bg.jpg);
    background-size: cover;
}

.module__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.module__heading {
    text-align: center;
    color: var(--color-white);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-weight: 500;
}

.module__text {
    padding-bottom: var(--padding-bottom--small);
    color: var(--color-white);
    font-size: 20px;
    font-weight: 500;
}

.module__buttons {
    display: flex;
    gap: 20px;
}

/* ============================
 *  Page Recipes
 *  ===========================
*/

.banner-recipes {
    height: 530px;
    background-image: url(../images/recipes/banner-recipes.jpg);
    background-size: cover;
    background-position: center;

}

.banner-recipes__content {
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-recipes__heading {
    margin-bottom: 20px;
    text-align: center;
    color: var(--color-black);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
}

.banner-recipes__text {
    margin-bottom: 60px;
    color: var(--color-black);
    text-align: center;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--small);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.1px;
}

.banner-recipes__btn {
    background-color: var(--color-black);
    text-transform: uppercase;
}

.books__heading {
    padding: 40px 0;
    text-align: center;
    color: var(--color-black);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.books__text {
    padding: 0 150px 60px 150px;
    color: var(--color-black);
    text-align: center;
    font-family: var(--font-family-text);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: -0.18px;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 60px;
}

.books-grid__img {
    padding-bottom: 30px;
}

.books-grid__item-link {
    text-decoration: none;
}

.books-grid__box-img {
    position: relative;
    cursor: pointer;
}

.books-grid__box-img::after {
    content: "Подробнее";
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    color: var(--color-white);
    font-size: 42px;
    line-height: 24px;
    opacity: 0;
    transition: all 0.5s ease;
}

.books-grid__box-img .books-grid__img {
    transition: all 0.5s ease;
}

.books-grid__box-img:hover .books-grid__img {
    filter: brightness(50%);
}

.books-grid__box-img:hover::after {
    opacity: 1;
}

.books-grid__title {
    padding-bottom: 20px;
    color: var(--color-black);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--small);
    font-weight: 600;
}

.books-grid__title--disabled {
    color: var(--color-grey);
}

.books-grid__price {
    padding-bottom: 30px;
    color: var(--color-brand);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 1.26px;
}

.books-grid__price--disabled {
    font-size: 24px;
    font-weight: 500;
}

.books-grid__btn {
    text-transform: uppercase;
}

/* modal */

.books-grid__modal {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999999999999;
    background-color: var(--color-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease;
}

.books-grid__modal-box {
    max-width: 1140px;
    display: flex;
    background-color: var(--color-bg);
    padding: 40px;
    border-radius: 40px;
    gap: 20px;
    transform: scale(0);
    transition: all 0.8s ease;
}

.books-grid__modal-inner {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 20px;
}

.books-grid__modal-close {
    position: absolute;
    top: 0;
    right: 0;
}

.books-grid__modal-picture {
    max-width: 310px;
}

.books-grid__modal.open {
    visibility: visible;
    opacity: 1;
}

.books-grid__modal.open .books-grid__modal-box {
    transform: scale(1);
}

/* end modal */

.books-grid__modal-title {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--medium);
    color: var(--color-grey);
}

.books-grid__modal-price {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    color: var(--color-brand);
    font-weight: 600;
}

.books-grid__modal-text {
    color: var(--color-black);
    font-family: var(--font-family-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.18px;
}

.recipes-form__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recipes-form__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipes-form__heading {
    margin-bottom: 30px;
    color: var(--color-black);
    text-align: center;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-style: normal;
    font-weight: 600;
}

.recipes-form__box input[type="email"] {
    margin-bottom: 10px;
    padding: 12px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    width: 400px;
    height: 48px;
    flex-shrink: 0;
    border-radius: var(--border-radius--big);
    border: 1px solid var(--color-black);
    color: var(--color-black);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.recipes-form__box input[type="submit"] {
    border: none;
    outline: none;
    width: 400px;
    height: 48px;
    flex-shrink: 0;
    border-radius: var(--border-radius--big);
    background-color: var(--color-black);
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
}

.recipes__info {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
}

.recipes__heading {
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.42px;
}

.recipes__text {
    grid-row-start: 2;
    color: var(--color-black);
    font-family: var(--font-family-text);
    font-size: 20px;
    letter-spacing: -0.2px;
}

.recipes__link {
    grid-row-start: 3;
    grid-column-start: 2;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: all 0.4s ease;
}

.recipes__link:hover svg path {
    fill: var(--color-accent);
}

.recipes-box {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}

.recipes-box__item {
    border-radius: var(--border-radius--small);
    border: 1px solid var(--color-border);
    background-color: var(--color-white);
    cursor: pointer;
    transition: all 0.6s ease;
}

.recipes-box__item-img {
    margin-bottom: 20px;
    border-radius: var(--border-radius--small) var(--border-radius--small) 0px 0px;
}

.recipes-box__title {
    margin-bottom: 40px;
    text-align: center;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--small);
    font-weight: 600;
    line-height: 32px;
    letter-spacing: -1%;
}

.recipes-box__details {
    padding: 0px 20px 20px 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 14px;
    row-gap: 16px;
}

.recipes-hero__content {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
}

.recipes-hero__image {
    width: 100%;
    border-radius: 400px;
}

.recipes-hero__heading {
    margin-bottom: 30px;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.recipes-hero__title {
    margin-bottom: 20px;
    color: var(--color-brand);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--medium);
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.32px;
    text-transform: uppercase;
}

.recipes-hero__text {
    margin-bottom: 40px;
    color: var(--color-black);
    font-family: var(--font-family-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.18px;
}

.recipes-hero__socials {
    display: flex;
    gap: 22px;
}

.recipes-hero__socials-icon {
    width: 40px;
    height: 40px;
    padding: 8px;
    border-radius: 40px;
    background-color: var(--color-accent);
    transition: all 0.5s ease;
}

.recipes-hero__box {
    align-items: center;
}
.recipes-hero__image{
    width: 100%;
}
/* ============================
 *  Page Course
 *  ===========================
*/

.banner-course__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.banner-course__content img {
    border-radius: 270px 0px 270px 270px;
}

.banner-course__timer-item {
    padding-bottom: var(--padding-bottom--small);
    font-family: var(--font-family-heading);
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 5%;
    color: var(--color-brand);
}

.banner-course__timer-item:not(:last-child)::after {
    content: " : ";
}

.banner-course__countdown {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner-course__box {
    padding-bottom: var(--padding-bottom);
    display: flex;
    gap: 20px;
}

.banner-course__box-item {
    width: 100px;
    font-size: 20px;
    font-weight: 600;
    opacity: 70%;
}

.banner-course__heading {
    margin-bottom: 20px;
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
}

.banner-course__text {
    margin-bottom: 40px;
    color: var(--color-black);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--small);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.2px;
}

.banner-course__title {
    margin-bottom: 20px;
    color: var(--color-black);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--small);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
}

.course-hero__content {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 100px;
}

.course-hero__images {
    position: relative;
}

.course-hero__img:nth-child(2) {
    position: absolute;
    top: 280px;
    left: 200px;
}

.course-hero__img:nth-child(3) {
    position: absolute;
    top: 30px;
    left: 400px;
}

.course-hero__img:nth-child(4) {
    position: absolute;
    top: 400px;
    left: 60px;
}

.course-hero__img {
    border-radius: 400px;
}

.course-hero__description {
    max-width: 580px;
}

.course-hero__heading {
    margin-bottom: 40px;
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--medium);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
}

.course-hero__list {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.course-hero__list-item {
    padding-left: 2rem;
    background-image: url('../images/icon-petals.png');
    background-position: 0 0;
    background-size: 1.3rem 1.3rem;
    background-repeat: no-repeat;
    color: var(--color-black);
    font-size: 20px;
}

.course-hero__text {
    margin-bottom: 40px;
    max-width: 580px;
    color: var(--color-black);
    line-height: 30px;
}

.edu-format__heading {
    padding-bottom: var(--padding-bottom);
    text-align: center;
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-weight: 700;
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

.edu-format__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.edu-format__list-item {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.edu-format__subject {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.edu-format__title {
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--medium);
    font-weight: 600;
}

.edu-format__price {
    font-family: var(--font-family-heading);
    font-size: 64px;
    font-weight: 500;
    color: var(--color-accent);
}

.edu-format__price--disabled {
    text-decoration: line-through;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-weight: 500;
    color: var(--color-grey);
    opacity: 50%;
}

.edu-format__list-features {
    padding-bottom: var(--padding-bottom--small);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

.edu-format__list-item {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
}

.list__item {
    font-size: 20px;
}

.tick {
    background: url('../images/tick.svg') 0 1px no-repeat;
}

.cross {
    background: url('../images/cross.svg') 0 1px no-repeat;
}

.tick,
.cross {
    padding-left: 30px;
    background-size: 20px;
}

.course-results__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course-results__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.course-results__block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.course-results__heading {
    margin-bottom: 40px;
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
}

.course-results__text {
    line-height: 30px;
}

.course-results__list {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.course-results__list-item {
    padding-left: 2rem;
    background-image: url('../images/icon-petals.png');
    background-position: 0 0;
    background-size: 1.3rem 1.3rem;
    background-repeat: no-repeat;
    color: var(--color-black);
    line-height: 30px;
}

.basic-lessons__heading {
    margin-bottom: 40px;
    text-align: center;
    color: var(--color-grey);
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
}

.basic-lessons__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.basic-lessons__list-item {
    position: relative;
    padding: 80px 20px 40px 20px;
    background-color: var(--color-white);
    border-radius: var(--border-radius--big);
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: default;
    transition: all 0.5s ease;
}

.basic-lessons__category {
    position: absolute;
    top: 0;
    left: 0;
    padding: 18px 38px;
    background-color: var(--color-accent);
    border-radius: var(--border-radius--big) 0px;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--small);
    font-weight: 600;
}

.basic-lessons__title {
    font-family: var(--font-family-heading);
    font-size: 20px;
    line-height: 28px;
}

.basic-lessons__text {
    line-height: 28px;
}

.faq__headline {
    width: 580px;
    padding-bottom: var(--padding-bottom);
    margin-bottom: 20px;
    border-bottom: var(--color-grey) 1px solid;
}

.faq-accordion__box {
    border-bottom: none;
}

.faq-accordion__subject::after {
    content: "";
    background-image: url(../images/toggle.svg);
}

.faq-accordion__item_show .faq-accordion__subject::after,
.faq-accordion__item_slidedown .faq-accordion__subject::after {
    transform: rotate(45deg);
}

/* анкета */
.questionnaire__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionnaire__heading {
    padding-bottom: var(--padding-bottom);
    text-align: center;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-heading--large);
}

.questionnaire__form-inner {
    padding: 60px 100px;
    display: grid;
    grid-template-columns: repeat(2, 400px);
    gap: 20px;
    background-color: var(--color-white);
}

.questionnaire__form-box input[type="text"],
.questionnaire__form-box textarea {
    width: 400px;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: var(--border-radius--small);
    background-color: var(--color-bg);
}

.questionnaire__form-box:nth-child(n+2):nth-child(-n+5) {
    grid-column-start: 1;
    grid-column-end: 3;
    width: 800px;
}

.questionnaire__form-box:nth-child(16){
    grid-column: span 2;
}
.questionnaire__title {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.radiobox__text {
    font-size: 16px;
   line-height: 32px;
}
.questionnaire__btn {
    border: none;
    outline: none;
    width: 280px;
    height: 60px;
}

/* для элемента input c type="radio" */
.questionnaire__label>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  /* для элемента label связанного с .custom-radio */
  .questionnaire__label>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
  
  /* создание в label псевдоэлемента  before со следующими стилями */
  .questionnaire__label>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--color-border);
    border-radius: 20%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  
  /* стили при наведении курсора на радио */
  .questionnaire__label>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: var(--color-brand);
  }
  
  /* стили для активной радиокнопки (при нажатии на неё) */
  .questionnaire__label>input:not(:disabled):active+span::before {
    background-color: var(--color-bg-green);
    border-color: var(--color-border-green);
  }
   
  /* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
  .questionnaire__label>input:focus:not(:checked)+span::before {
    border-color: var(--color-accent);
  }
  
  /* стили для радиокнопки, находящейся в состоянии checked */
  .questionnaire__label>input:checked+span::before {
    border-color: var(--color-brand);
    background-color: transparent;
    background-image: url("../images/radio.svg");
  }

  textarea{
    outline : none;
    resize : none;
  }
